/* Styles globaux pour le formulaire */
.book-appointment-container {
    background-color: #fff; /* Couleur de fond du formulaire */
    padding: 20px; /* Espacement intérieur */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de profondeur */
    max-width: 800px; /* Largeur maximale du formulaire */
    margin: 50px auto 20px 450px;/* Centre le formulaire et ajoute un espacement vertical */
}

/* Styles pour les champs du formulaire */
.book-appointment-form {
    display: flex;
    flex-direction: column;
}

.book-appointment-group {
    margin-bottom: 15px; /* Espacement entre les champs */
}

.book-appointment-group label {
    display: block; /* Affiche le label en bloc pour qu'il occupe toute la largeur */
    font-weight: bold; /* Rend le texte du label gras */
    margin-bottom: 5px; /* Espacement sous le label */
}

.book-appointment-group select,
.book-appointment-group input[type="datetime-local"] {
    width: 100%; /* Prend toute la largeur disponible */
    padding: 10px; /* Espacement intérieur */
    border: 1px solid #ddd; /* Bordure légère */
    border-radius: 4px; /* Coins arrondis pour les champs */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

/* Styles pour le bouton de soumission */
.book-appointment-submit-button {
    background-color: #007bff; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    border: none; /* Supprime la bordure par défaut */
    padding: 10px 20px; /* Espacement intérieur */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer; /* Changement du curseur au survol */
    font-size: 16px; /* Taille de la police */
    transition: background-color 0.3s ease; /* Effet de transition pour le changement de couleur */
}

.book-appointment-submit-button:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}

/* Styles pour le message de confirmation */
.book-appointment-message {
    color: green;
    font-weight: bold;
    margin-bottom: 1em;
}
